
1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].
answer:-
year_of_birth = 1980
year_list  = [year_of_birth+i for i in range(5)]
print(year_list)

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.
answer:-
print(year_list[2])

3.In the years list, which year were you the oldest?
answer:-
print(year_list[4])

4. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella',
'salmonella'.
answer:-

Python
things = ["mozzarella", "cinderella", "salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?
answer:-
thinks[1].capitalize()

6. Make a surprise list with the elements 'Groucho,' 'Chico,' and 'Harpo.'
answer:-
surprise =['Groucho,' 'Chico,','Harpo.']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
answer:-
surprise =['Groucho', 'Chico,','Harpo.']
surprise[2] = surprise[2].lower()
surprise.reverse()
surprise = [i.capitalize() for i in surprise]

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.
answer:-
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

# Print the dictionary
print(e2f)

9. Write the French word for walrus in your three-word dictionary e2f.
answer:-
print(e2f["walrus"])

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
answer:-
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}
f2e = {}

for key,value in e2f.items():
  f2e[value]=key
print(f2e)

11. Print the English version of the French word chien using f2e.
answer:-
f2e = {
    "chien": "dog",
    "chat": "cat",
    "morse": "walrus"
}

# Get the English translation of the French word "chien"
english_translation = f2e["chien"]

# Print the English translation
print(english_translation)

12. Make and print a set of English words from the keys in e2f.
answer:-
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

english_word = set(e2f.key())
print(english_word)

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.
answer:-
life = {
    "animals": {
        "cats": ["Henri", "Grumpy", "Lucy"],
        "octopi": [],
        "emus": []
    },
    "plants": {},
    "other": {}
}

# Print the life dictionary
print(life)

14. Print the top-level keys of life.
answer:-
life = {
    "animals": {
        "cats": ["Henri", "Grumpy", "Lucy"],
        "octopi": [],
        "emus": []
    },
    "plants": {},
    "other": {}
}

# Print the top-level keys of life
print(life.keys())

15. Print the keys for life[&#39;animals&#39;].
answer:-
life = {
    "animals": {
        "cats": ["Henri", "Grumpy", "Lucy"],
        "octopi": [],
        "emus": []
    },
    "plants": {},
    "other": {}
}

# Print the keys for life['animals']
print(life['animals'].keys())

16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]
answer:-
life = {
    "animals": {
        "cats": ["Henri", "Grumpy", "Lucy"],
        "octopi": [],
        "emus": []
    },
    "plants": {},
    "other": {}
}

# Print the values for life['animals']['cats']
print(life['animals']['cats'])