1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

ans:- * is arithematic operator that's multipy two     
         operand and give the answer in numeric form
         example:- 5*6 = 30
      'hello' is string datatype
      -87.8 is numeric datatype that's hold a pointing  
        value
      - is a arithematic operator that's work subtract a
        value from one operand to another operand
        example:- 10-5=5
      / is a arithematic operator thats work divide a value from one operand to another operand and give floating value
    + is arithematic operator thats work addition a value both operand and give the value as numeric
    6 is a numeric value those work as operand when we  
       perform some operation through operator

2. What is the difference between string and variable?

answer:- string can hold only text or char inside the "" and variable can hold any value we also know that variable name is memory loaction name

3. Describe three different data types.

answer:- numeric data types:- int int value can represent by int class it contains a positive or negitve value
float value can represent by float class it contains a positive or negtive value its hold a floating values
complex value can represent by complex class it contain numeric dvalue as well as imgnri value img value in python denoted by j

list:- list is datatype in python that hold a multiple value in one array value can be int,float,complex,string etc list name is a location of memory addreess

boolean:- boolean is datatype in python that hold a True or False value its alwys give the result in form of true and false

4. What is an expression made up of? What do all expressions do?

answer:- an expression is a combination of value ,variable and operator
value:- value can be interger , float ,null
variable :-variable refers to value
operator :- perform some operation between two value we use operator
 expression give the value in single digit

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

answer:- expression :- exression is combination of value ,variable and operator that convert all this think into single form
statement :- statment is an instruction.python interpreter can follow those instruction in python assignment instruction,conditional and loops statements etc example of statement

23

22

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

answer:- bacon =22
bacon+1
then the variable of bacon contain 22 interger value

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; *3

answer:-   "spam"+"spamspam" = spamspamspam
    "spam"*3 = "spamspamspam"

In [ ]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
'spam' *3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

answer:- becasuse in python and other programming language there is some rules to crete variabe those rules are applicable
types of rules those are apply when variable creating
a. variable always start with alphabets
b.variable can start with underscore
c.variable can contain numric value but variable does not start with numeric values

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

answer:-  The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

answer :- there nametype exception generate becasuse string and integer are concating those give error ,we can string typecasing through str() function solver this error git solution

 'I have eaten ' + str(99) + ' burritos.'

In [ ]:
 'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'