1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.
answer:-
test1 = 'This is a test of the emergency text system,'
with open("test.txt","w") as f:
  f.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?
answer:-
with open("test.txt","r") as f:
  test2 = f.read()

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
answer:-
import pandas as pd

data ={The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992}
df = pd.DataFrame(data,column=["title","author","year"])
df.to_csv("book.csv",index=False)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).
answer:-
import sqlite3

conn = sqlite3.connect(books.db)
cur = conn.cursor()
cur.execute("""create table if not exits book (
  title text,author text , year interger)""")
cur.close()
conn.close()

5. Read books.csv and insert its data into the book table.
answer:-
import sqlite3

conn = sqlite3.connect("book.db")
cur = conn.cursor()
cur.execute("""select * from book""")
for row in cur.fetchall():
  print(row)

6. Select and print the title column from the book table in alphabetical order..
answer:-

import sqlite3
conn = sqlite3.connect("book.db")
cur = conn.cursor()
cur.execute("""select * from book order by title asc""")

for row in cur.fetchall():
  print(row[0])
cur.close()
conn.close()

7. From the book table, select and print all columns in the order of publication.
answer:-
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Create a cursor
cur = conn.cursor()

# Execute the query
cur.execute("""SELECT * FROM books ORDER BY year ASC""")

# Print the results
for row in cur.fetchall():
  print(row)

# Close the cursor and connection
cur.close()
conn.close()

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.
answer:-
from sqlalchemy import create_engine

# Create the engine
engine = create_engine('sqlite:///books.db')

# Connect to the database
connection = engine.connect()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.
answer:-
import redis

# Connect to the Redis server
r = redis.Redis()

# Create the test hash
r.hset('test', {'count': 1, 'name': 'Fester Bestertester'})

# Print all the fields for test
print(r.hgetall('test'))

10. Increment the count field of test and print it.
answer:-
import redis

# Connect to the Redis server
r = redis.Redis()

# Increment the count field
r.hincrby('test', 'count', 1)

# Print the count field
print(r.hget('test', 'count'))