In [6]:
def is_symmetrical(a):
  num_str = str(a)
  reverse_num = num_str[::-1]
  if num_str == reverse_num:
    return True
  else:
    return False
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True
answer:-
def is_symmetrical(a):
  num_str = str(a)
  reverse_num = num_str[::-1]
  if num_str == reverse_num:
    return True
  else:
    return False
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

In [13]:
def multiply_nums(a):
  replcaee = a.split(',')
  # print(replcaee)
  multi=1
  for i in replcaee:
    multi*=int(i)
  return multi
print(multiply_nums('2, 3'))
print(multiply_nums('1, 2, 3, 4'))
print(multiply_nums('54, 75, 453, 0'))
print(multiply_nums('10, -2'))

6
24
0
-20

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20
answer:-
def multiply_nums(a):
  replcaee = a.split(',')
  # print(replcaee)
  multi=1
  for i in replcaee:
    multi*=int(i)
  return multi
print(multiply_nums('2, 3'))
print(multiply_nums('1, 2, 3, 4'))
print(multiply_nums('54, 75, 453, 0'))
print(multiply_nums('10, -2'))

Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.
answer:-
def square_digits(number):
    # Convert the number to a string
    num_str = str(number)
    
    # Initialize an empty string to store the squared digits
    squared_str = ''
    
    # Loop through each digit in the string
    for digit in num_str:
        # Square the digit and append it to the squared string
        squared_str += str(int(digit) ** 2)
    
    # Convert the squared string back to an integer
    squared_number = int(squared_str)
    
    return squared_number

# Test cases
print(square_digits(9119))  # 811181
print(square_digits(2483))  # 416649
print(square_digits(3212))  # 9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
answer:-
def setify(lst):
    # Convert the list to a set to remove duplicates
    unique_set = set(lst)
    
    # Convert the set back to a sorted list
    sorted_list = sorted(unique_set)
    
    return sorted_list

# Test cases
print(setify([1, 3, 3, 5, 5]))            # [1, 3, 5]
print(setify([4, 4, 4, 4]))               # [4]
print(setify([5, 7, 8, 9, 10, 15]))       # [5, 7, 8, 9, 10, 15]
print(setify([3, 3, 3, 2, 1]))            # [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
answer:-
def mean(number):
    # Convert the number to a string to iterate through its digits
    num_str = str(number)
    
    # Initialize variables to store the sum of digits and the number of digits
    digit_sum = 0
    num_digits = len(num_str)
    
    # Loop through each digit in the string
    for digit in num_str:
        digit_sum += int(digit)
    
    # Calculate the mean by dividing the sum of digits by the number of digits
    mean_value = digit_sum / num_digits
    
    return mean_value

# Test cases
print(mean(42))      # 3.0
print(mean(12345))   # 3.0
print(mean(666))     # 6.0