1. Write a Python program to convert kilometers to miles?
def kilometer_miles(kilometer):
  miles = kilometer *0.621
  return miles
print(kilometer_miles(10))

2. Write a Python program to convert Celsius to Fahrenheit?
answer:-
fahrenheit = (celsius*9/5)+32
def fahrenheit(celsius):
  fahremheit = (celsuis *9/5)+32
  return fahrenheit
print(fahrenheit(56))

In [1]:
import calendar
print(calendar.month(2023,9))

   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

3. Write a Python program to display calendar?
answer:-
import calendar
print(calendar.month(2023,9))

4. Write a Python program to solve quadratic equation?
answer:-

import math

def solve_quadratic_equation(a, b, c):
 discriminant = b**2 - 4 * a * c
  if discriminant < 0:
    return None, None
  elif discriminant == 0:
    return -b / (2 * a), -b / (2 * a)
  else:
    return (-b + math.sqrt(discriminant)) / (2 * a), (-b - math.sqrt(discriminant)) / (2 * a)

# Example usage:

print(solve_quadratic_equation(1, 2, 3))
print(solve_quadratic_equation(1, -2, 1))
print(solve_quadratic_equation(1, 0, -1))

5. Write a Python program to swap two variables without temp variable?
answer:-
x = 5
y = 10 # y = 1010

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)

# Swap code
x ^= y
y ^= x
x ^= y

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

In [10]:
x = 5
y = 10 # y = 1010

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)

# Swap code
x ^= y
y ^= x
x ^= y

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  10
After swapping:
Value of x :  10  and y :  5